*{
  text-align: center;
  font-family: 'GmarketSansMedium',cursive;
  list-style-type:none;
}   

.title{
  position: relative;
  top: 15px;
}


@font-face {

  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-size: 50px;
}

.todo_input{
  position: relative;
  right: 10px;
  left: 25px;
  font-size: 30px;
  bottom: 100px;
}

.submit{
  position: relative;
  left: 20px;
  bottom: 103px;
}

.writer{
  text-align: right;
  position: relative;
  bottom: 170px;
  font-size: 20px;
  left: -1.5px;
}

.todo_item
{
  position: relative;
  top: -100px;
  margin: 10px auto; 
}

.info
{
  font-size: 22px;
}

.link{
  
  position: relative;
  bottom: 90px;
  right: -590px;
  font-size: 20px;
  text-align: right;

}

body
{
  background-size: cover;
  background-attachment: fixed;
}

